*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
}

:root {
  --hue-neutral: 180;
  --hue-wrong: #ff0000;
  --hue-correct: #61ff9e;
}

body {
  --hue: var(--hue-neutral);
  padding: center;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 25%);
}

input[type="submit"] {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 100%);
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  color: hsl(var(--hue), 30%, 40%);
  cursor: pointer;
  margin: 80px;
  margin-top: 65px;
  box-shadow: 0 0 10px 2px;
  transition: 0.6s;
  outline: none;
}

input[type="submit"]:hover {
  color: black;
  transform: scale(1.1);
}

input[type="checkbox"] {
  position: relative;
  vertical-align:middle;
  outline: none;
}

input[type="checkbox"]:hover {
  transform: scaleX(1.2);
}

input[type="number"] {
  position: relative;
  border-width: 1px;
  width: 4rem;
  border-radius: 4px;
  outline: none;
}

.emnevælger {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

#timer,#buttons {
  font-size: 40px;
  max-width: 1px;
  margin: 100px;
  color: white;
  text-align: right;
  margin-top: 10%;
  margin-bottom: 50%;
  margin-right: 5%;
  position: sticky;
}

#hours,
#minutes,
#seconds
{
  font-size: 3rem;
  margin-right: 5px;
  color: white;
}

button {
  width: 65px;
  height: 40px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  outline: none;   
}
button:hover {
  background: black;
  transform: scaleX(1.1);
  text-transform: capitalize;
}

.mathTex {
 display: inline;
}
