*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

:root {
  --hue-neutral: 180;
  --hue-wrong: #ff0000;
  --hue-correct: #61ff9e;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 25%);
  font-family: sans-serif;
}

input[type="submit"], .reset {
  --hue: var(--hue-neutral);
  height: fit-content;
  border: 1px solid hsl(var(--hue), 100%, 100%);
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  color: hsl(var(--hue), 30%, 40%);
  cursor: pointer;
  box-shadow: 0 0 10px 2px;
  transition: 0.6s;
}

input[type="submit"]:hover {
  color: black;
  transform: scale(1.1);
}

input[type="checkbox"] {
  position: relative;
  vertical-align: middle;
}

input[type="checkbox"]:hover {
  transform: scaleX(1.2);
}

input[type="number"] {
  position: relative;
  border-width: 1px;
  width: 4rem;
  border-radius: 4px;
}

.main {
  padding: 2rem;
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.top {
  padding: .5em;
  background-color: hsl(var(--hue), 100%, 25%);
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#root {
  margin-top: 1em;
  width: 100%;
}

#back-btn {
  visibility: hidden;
}

.emnevælger {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

.exercise {
  margin: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}