*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --hue-neutral: 180;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 25%);
  font-family: sans-serif;
}

.stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    padding-top: 25px;
    margin-bottom: 500px;
    margin-left: 600px;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 50px;
    font-size: 48px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }