.stopwatch {
  width: 25%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: "Roboto Mono", monospace;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.timerBtn {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
  height: 10px;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}